In [6]:
import pandas as pd
import pandas_access as mdb
import datetime as dt
from datetime import datetime
import numpy as np
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA

In [7]:
df = pd.read_pickle("data/df.pkl")

In [8]:
df.head()

,INV_NO,SKU,QTY,CUST_NO,PRICE,TAX1,CLERK,GROUP,REG_ID,DISCOUNT,...,TIME,TYPE,RETFLAG,REGPRICE,VENDOR,year,month,day,weekday,profit
0,1,1540,0.25,NaN,18.4,0.00,TIA,TEA,NaN,0.0,...,11:04,P,NaN,18.4,S&V,1996,05,05,6,3.0625
1,1,1558,0.25,NaN,39.0,0.00,TIA,TEA,NaN,0.0,...,11:04,P,NaN,39.0,S&V,1996,05,05,6,6.5000
2,1,1518,0.25,NaN,21.0,0.00,TIA,TEA,NaN,0.0,...,11:04,P,NaN,21.0,BWT,1996,05,05,6,3.5125
3,2,1192,1.00,NaN,26.0,2.13,KAR,ACC,NaN,0.0,...,11:28,P,NaN,26.0,WAC,1996,05,05,6,13.5000
4,3,1697,1.00,NaN,96.0,7.87,TIA,POT,NaN,0.0,...,11:39,P,NaN,96.0,KSO,1996,05,05,6,48.0000

In [9]:
s = pd.DataFrame(df.groupby("INV_NO")["SKU"].value_counts())

In [10]:
# utility matrix rows = SKU cols = SKU
df.head()

,INV_NO,SKU,QTY,CUST_NO,PRICE,TAX1,CLERK,GROUP,REG_ID,DISCOUNT,...,TIME,TYPE,RETFLAG,REGPRICE,VENDOR,year,month,day,weekday,profit
0,1,1540,0.25,NaN,18.4,0.00,TIA,TEA,NaN,0.0,...,11:04,P,NaN,18.4,S&V,1996,05,05,6,3.0625
1,1,1558,0.25,NaN,39.0,0.00,TIA,TEA,NaN,0.0,...,11:04,P,NaN,39.0,S&V,1996,05,05,6,6.5000
2,1,1518,0.25,NaN,21.0,0.00,TIA,TEA,NaN,0.0,...,11:04,P,NaN,21.0,BWT,1996,05,05,6,3.5125
3,2,1192,1.00,NaN,26.0,2.13,KAR,ACC,NaN,0.0,...,11:28,P,NaN,26.0,WAC,1996,05,05,6,13.5000
4,3,1697,1.00,NaN,96.0,7.87,TIA,POT,NaN,0.0,...,11:39,P,NaN,96.0,KSO,1996,05,05,6,48.0000

In [11]:
df2 = df[["INV_NO", "SKU"]]

In [17]:
len(df2.SKU.unique())

4779

In [13]:
#df3 = pd.get_dummies(df2, columns=["SKU"])

In [ ]:
new_df = pd.DataFrame(np.zeros([829072, 4779]))
for idx, row in df.iterrows():
    i = row.INV_NO
    sku = row.SKU
    new_df.loc[i,sku] = 1
new_df.fillna(0, inplace=True)

In [ ]:
mat = pd.dtafram(index=arrr.columns)
for each in arr.coluns:
    ss = arr[arr[each] == 1]
    num = ss.shape[0]
    count = ss.sum(axis=0)
    mat[each] = count
mat = mat.set_index(mat.index.astype(int))
mat = mat.sort_index()
mat = mat.transpose()
mat = mat.set_index(mat.index.astype(int))
mat = mat.sort_index()

mat = pd.dtafram(index=arrr.columns)
for each in arr.coluns:
    ss = arr[arr[each] == 1]
    num = ss.shape[0]
    count = ss.sum(axis=0)
    mat[each] = np.round(count/num, 2)
mat = mat.set_index(mat.index.astype(int))
mat = mat.sort_index()
mat = mat.transpose()
mat = mat.set_index(mat.index.astype(int))
mat = mat.sort_index()

pca = PCA(n_compenents=2)
pca.fit(mat2)

cluster = pd.dataframe(pca.compenents_.transpose(), index=mat2.index, columns=['PCA-0", "PCA-1"'])
cluster["k-means"] = t
for each in range(6):
    print(f"cluster {each}:' list(cluster[cluster['k-mans']==each].index))')
          
from sklearn.cluster iport KMEAns
          km.fit_predict(pca.compenets_.transpose())
          col_keys = np.unique(t)
          
          fig, ax = plt.subplots(figsize=(12,9))
          ax.scatter(pca.compents_[0], pca.compenents_[1], s=10, c=t2);
          ax.set_title('PCA', fontsize=14)
          ax.grid(which='both', axis='both, linewidth=.5')