In [1]:
import pandas as pd
import pandas_access as mdb
import datetime as dt
from datetime import datetime
import numpy as np
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA

In [2]:
df = pd.read_pickle("data/df.pkl")

In [3]:
df2 = df[["INV_NO", "SKU"]]
df2["INV_NO"] = df2["INV_NO"].str.strip()

/Users/sarahburgart/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [4]:
skus = df2.SKU.unique()
invnos = df2.INV_NO.unique()

In [5]:
#df3 = pd.get_dummies(df2, columns=["SKU"])
new_df = pd.DataFrame(np.zeros([402055, 4779]), columns = skus, index = invnos)

In [6]:
#new_df.loc[0, "1540"]
new_df.loc["403076", "1556"] = 1

In [13]:
v_smol = df.iloc[:2, :]

In [14]:
v_smol

,INV_NO,SKU,QTY,CUST_NO,PRICE,TAX1,CLERK,GROUP,REG_ID,DISCOUNT,...,TIME,TYPE,RETFLAG,REGPRICE,VENDOR,year,month,day,weekday,profit
0,1,1540,0.25,NaN,18.4,0.0,TIA,TEA,NaN,0.0,...,11:04,P,NaN,18.4,S&V,1996,05,05,6,3.0625
1,1,1558,0.25,NaN,39.0,0.0,TIA,TEA,NaN,0.0,...,11:04,P,NaN,39.0,S&V,1996,05,05,6,6.5000

In [ ]:
for idx, row in df.iloc[:200, :].iterrows():
    i = row.INV_NO
    sku = row.SKU
    new_df.loc[i,sku] = 1

In [19]:
new_df.head()

,1540,1558,1518,1192,1697,1528,1537,1221,1797,1370,...,843495006948,628335000016,030712000654,NOT IN INV,5039,771541817692,9499,628335002058,846682006264,628335002041
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
new_df.fillna(0, inplace=True)

In [ ]:
mat = pd.dtafram(index=arrr.columns)
for each in arr.coluns:
    ss = arr[arr[each] == 1]
    num = ss.shape[0]
    count = ss.sum(axis=0)
    mat[each] = count
mat = mat.set_index(mat.index.astype(int))
mat = mat.sort_index()
mat = mat.transpose()
mat = mat.set_index(mat.index.astype(int))
mat = mat.sort_index()

mat = pd.dtafram(index=arrr.columns)
for each in arr.coluns:
    ss = arr[arr[each] == 1]
    num = ss.shape[0]
    count = ss.sum(axis=0)
    mat[each] = np.round(count/num, 2)
mat = mat.set_index(mat.index.astype(int))
mat = mat.sort_index()
mat = mat.transpose()
mat = mat.set_index(mat.index.astype(int))
mat = mat.sort_index()

pca = PCA(n_compenents=2)
pca.fit(mat2)

cluster = pd.dataframe(pca.compenents_.transpose(), index=mat2.index, columns=['PCA-0", "PCA-1"'])
cluster["k-means"] = t
for each in range(6):
    print(f"cluster {each}:' list(cluster[cluster['k-mans']==each].index))')
          
from sklearn.cluster iport KMEAns
          km.fit_predict(pca.compenets_.transpose())
          col_keys = np.unique(t)
          
          fig, ax = plt.subplots(figsize=(12,9))
          ax.scatter(pca.compents_[0], pca.compenents_[1], s=10, c=t2);
          ax.set_title('PCA', fontsize=14)
          ax.grid(which='both', axis='both, linewidth=.5')